<header>
  <div class="l-wrapper">
    <app-panel
      [isPopup]="popup"
      (addSticker)="onAddSticker($event)"
      (closePopup)="popup = false"
    >
      <h1 title="GitHub">
        <a
          href="https://github.com/vdistortion/bitrix24-stickerpack-app"
          target="_blank"
        >
          <app-icon
            path="mdiGithub"
            style="position: relative; top: 5px"
          ></app-icon>
          {{ appName }}
        </a>
      </h1>
    </app-panel>
  </div>
</header>
<main class="page">
  <div class="l-wrapper">
    <app-grid
      [title]="customStickers.title"
      [list]="customStickers.list"
      [isRemoveButton]="true"
      [isAdd]="true"
      (openPopup)="popup = true"
      (removeSticker)="onRemoveSticker($event)"
    ></app-grid>
    @if (recentStickers.list.length) {
      <app-grid
        [title]="recentStickers.title"
        [list]="recentStickers.list"
        [isRemoveButton]="true"
        (removeSticker)="onRemoveStickerRecent($event)"
      ></app-grid>
    }
    @for (pack of stickers; track pack.title + '_' + $index) {
      <app-grid
        [title]="pack.title"
        [list]="pack.list"
        [link]="pack.link"
        (toggleSticker)="onToggleSticker($index, $event)"
      ></app-grid>
    }
  </div>
</main>
