@import '../../../grid';

.l-wrapper {
  @include wrapper();
}

header {
  background-color: #3f51b5;

  h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
