.popup {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000000, .7);
  }

  &__window {
    position: fixed;
    top: 100px;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    width: 300px;
    border-radius: 4px;
  }

  &__title {
    font-weight: bold;
    margin-left: 10px;
  }

  &__body {
    margin: 10px 0;
  }

  input[type="text"] {
    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    &.ng-valid {
      border: 1px solid #3f51b5;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

  &__footer {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
  }
}
