.howto {
  background-color: #ffffff;

  &__item {
    display: flex;
    align-items: center;
  }
}

.pack {
  h3 {
    display: inline-block;
    background-color: #ffffff;
    margin-right: 10px;
  }

  .stickers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    list-style-type: none;
    padding-left: 0;
  }

  a.link {
    padding: 10px;
    border-radius: 4px;
    box-shadow:
      0 3px 1px -2px #0003,
      0 2px 2px #00000024,
      0 1px 5px #0000001f;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    color: #000;
    background-color: rgba(#fff, 0.4);
    text-decoration: none;
    font-size: 20px;

    &:hover {
      background-color: #fff;
    }
  }
}
