<div class="howto">
  <span class="howto__item">
    <img
      src="./assets/free-icon-mouse-left-button.png"
      alt="ЛКМ"
      title="Левая кнопка мыши"
    />
    — отправить в чат
  </span>
</div>
<div class="pack">
  <h3>{{ customStickers.title }}</h3>
  @if (linkToApp) {
    <a
      [href]="linkToApp"
      target="_blank"
      class="link"
      title="Перейти в приложение"
    >
      +
    </a>
  }
  <ul class="stickers">
    @for (sticker of customStickers.list; track $index) {
      <li (click)="sendMessage(sticker.icon, sticker.title, sticker.size)">
        <img
          [src]="getIcon(sticker.icon)"
          [alt]="sticker.title"
          [title]="sticker.title"
          [style]="getStyle(sticker.size)"
        />
      </li>
    }
  </ul>
</div>
@for (pack of stickers; track $index) {
  <div class="pack">
    <h3>{{ pack.title }}</h3>
    <ul class="stickers">
      @for (sticker of getList(pack.list); track $index) {
        <li (click)="sendMessage(sticker.icon, sticker.title, sticker.size)">
          <img
            [src]="getIcon(sticker.icon)"
            [alt]="sticker.title"
            [title]="sticker.title"
            [style]="getStyle(sticker.size)"
          />
        </li>
      }
    </ul>
  </div>
}
