<div class="howto">
  <span class="howto__item">
    <img
      src="./assets/free-icon-mouse-left-button.png"
      alt="ЛКМ"
      title="Левая кнопка мыши"
    />
    — отправить в чат
  </span>
</div>
@if (recentStickers.list.length) {
  <div class="pack">
    <h3>{{ recentStickers.title }}</h3>
    <ul>
      @for (sticker of recentStickers.list; track $index) {
        <li (click)="sendMessage(sticker)">
          <img
            [src]="getIcon(sticker.icon)"
            [alt]="sticker.title"
            [title]="sticker.title"
            [style]="getStyle(sticker.size)"
          />
        </li>
      }
    </ul>
  </div>
}
<div class="pack">
  <h3>{{ customStickers.title }}</h3>
  @if (linkToApp) {
    <a
      [href]="linkToApp"
      target="_blank"
      class="link"
      title="Добавить стикеры в приложении"
    >
      +
    </a>
  }
  @if (customStickers.list.length) {
    <ul>
      @for (sticker of customStickers.list; track $index) {
        <li (click)="sendMessage(sticker)">
          <img
            [src]="getIcon(sticker.icon)"
            [alt]="sticker.title"
            [title]="sticker.title"
            [style]="getStyle(sticker.size)"
          />
        </li>
      }
    </ul>
  }
</div>
@for (pack of stickers; track $index) {
  <div class="pack">
    <h3>{{ pack.title }}</h3>
    <ul>
      @for (sticker of getList(pack.list); track $index) {
        <li (click)="sendMessage(sticker)">
          <img
            [src]="getIcon(sticker.icon)"
            [alt]="sticker.title"
            [title]="sticker.title"
            [style]="getStyle(sticker.size)"
          />
        </li>
      }
    </ul>
  </div>
}
