<div class="grid">
  <h2 class="grid__title">
    <span>{{ title }}</span>
    @if (link) {
      <a
        [href]="link"
        target="_blank"
        title="Добавить в Telegram"
        aria-label="Добавить в Telegram"
      >
        <app-icon
          path="mdiOpenInNew"
          [scale]="0.8"
          style="position: relative; top: 5px"
        ></app-icon>
      </a>
    }
  </h2>
  @for (sticker of list; track sticker.icon) {
    <app-card
      [icon]="sticker.icon"
      [title]="sticker.title"
      [size]="sticker.size + '' || ''"
      [isCustom]="isAdd"
      class="grid__item"
      (remove)="onRemoveSticker(sticker)"
    ></app-card>
  }
  @if (isAdd) {
    <div
      class="grid__item add"
      title="Добавить стикер в текущий браузер"
      (click)="onOpenPopup()"
    >
      <app-icon path="mdiPlusThick" [scale]="1.5"></app-icon>
    </div>
  }
</div>
