<div class="panel">
  <div class="panel__item left">
    <ng-content></ng-content>
  </div>
  @if ($BX24 && isLoaded) {
    <div class="panel__item right">
      @if (isInstall) {
        <app-button icon="mdiRobotDead" (click)="uninstall()">
          Удалить стикеры из чата
        </app-button>
      } @else {
        <app-button icon="mdiRobotHappy" (click)="install()">
          Установить стикеры в чат
        </app-button>
      }
    </div>
  }
</div>

@if (isPopup) {
  <app-popup (add)="onAddSticker($event)" (close)="onClosePopup()"></app-popup>
}
