<div class="panel">
  <div class="panel__item left">
    <ng-content></ng-content>
  </div>
  @if ($BX24 && isLoaded) {
    <div class="panel__item right">
      <app-button icon="mdiCached" (click)="clearCache()" title="Удалить сохранённые данные">
        Очистить кэш
      </app-button>
      @if (isInstall) {
        <app-button icon="mdiRobotDead" (click)="uninstall()" title="Удалить стикеры из чата">
          Удалить стикеры из чата
        </app-button>
      } @else {
        <app-button icon="mdiRobotHappy" (click)="install()" title="Установить стикеры в чат">
          Установить стикеры в чат
        </app-button>
      }
    </div>
  }
</div>

@if (isPopup) {
  <app-popup (add)="onAddSticker($event)" (close)="onClosePopup()"></app-popup>
}
